@import "variables.scss";

$td-padding-left: 1rem;

.page-wrap {

}

.issue-table {
    width: 100%;
    margin: 1rem;
    border-collapse: collapse;
}

.table-row {
    
    border-top: 1px solid mat-color($theme-accent, 100);
    td, th {
        text-align: left;
    }
}

.header-row {
    border-top: none;
}

.table-header-divider {
    width: 100%;
}

.link, .link:visited {
    color: mat-color($theme, 500);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

$icon-height: 1.5rem;

.sort-icon-down, .sort-icon-up {
    cursor: pointer;
    // margin-left: 0.5rem;
    color: mat-color($theme, 500);
    visibility: hidden;
    $icon-width: 12px;
    width: $icon-width;
    height: $icon-height;
    min-width: $icon-width;
    min-height: $icon-height;
}

.sort-icon-up {
    margin-left: 0.5rem;
}

.sort-icon-up:hover, .sort-icon-down:hover {
    stroke: mat-color($theme, 500);
    stroke-width: 1.5rem;
    // height: $icon-height + 0.5rem;
    // min-height: $icon-height + 0.5rem;
}

.sort-header-hover {
    visibility: visible;
}
