@import "variables.scss";

$td-padding-left: 1rem;

.page-wrap {

}

.issue-table {
    width: 100%;
    margin: 1rem;
    border-collapse: collapse;
}





.table-row {
    
    border-top: 1px solid mat-color($theme-accent, 100);
    th {
        text-align: left;
        padding-left: $td-padding-left;
    }

    td{
        text-align: left;
        padding-left: $td-padding-left;
    }
}

.header-row {
    border-top: none;
}

.table-header-divider {
    width: 100%;
}

.link, .link:visited {
    color: mat-color($theme, 500);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.icon {

}