<div class="page-wrap">


    <span class="mat-display-2 title">Issues</span>

    <div class="table-wrap">


        <div fxLayout="column" fxLayoutAlign="space-between" >


            <app-filter [filterType]="FILTER_PAGE_TYPES.ISSUE" (changed)="loadData()"></app-filter>

            <table cellpadding="15" cellspacing="5" class="issue-table">



                <tr class="table-row header-row" on-mouseover='onHoverHeader(true)' on-mouseout='onHoverHeader(false)'>
                    <th *ngFor="let col of columnData" class="table-header">
                        <div fxLayout="row" fxLayoutAlign="start" fxFill >
                            {{col.text}}
                            <mat-icon (click)="issueService.sortData(col.name, true)" [ngClass]="{'sort-header-hover' : hoveringOnHeader}" class="sort-icon-up"  svgIcon="sort-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                            </mat-icon>
                            <mat-icon (click)="issueService.sortData(col.name, false)" [ngClass]="{'sort-header-hover' : hoveringOnHeader}" class="sort-icon-down"  svgIcon="sort-down" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                            </mat-icon>
                        </div>
                    </th>
                </tr>

                <tr class="table-row" *ngFor="let issue of issueService.issueList; let i = index;" fxFill>
                    <td>
                        <app-issue-handle class="cat-name" [issue]="issue" [hideVerboseName]="true" [hideType]="true"></app-issue-handle>
                    </td>
                    <td>
                        <app-issue-handle class="cat-name" [issue]="issue" [hideName]="true" [hideType]="true"></app-issue-handle>
                    </td>
                    <td>
                        <app-issue-type-badge [type]="issue.type"></app-issue-type-badge>
                    </td>
                    <td>
                        <app-issue-priority-badge [priority]="issue.priority"></app-issue-priority-badge>
                    </td>
                    <td>
                        <app-issue-status-badge [status]="issue.status" [hideBorder]="true"></app-issue-status-badge>
                    </td>
                    <td>
                        <app-user-handle *ngIf="issue.user != null" [user]="issue.user" [hideUsername]="false" [hidePhoto]="true"></app-user-handle>
                    </td>
                    
                    <td>{{format.getWorkTime(issue.hoursSpent, false)}}</td>
                    <td>{{format.getWorkTime(issue.hoursRemaining, false)}}</td>
                    <td>{{issue.created | date:'short'}}</td>
                    <td>{{issue.resolved ? (issue.resolved | date:'short'): '-'}}</td>
                </tr>

            </table>

        </div>


    </div>

</div>