@import "variables.scss";

.page-wrap {
    height: 99% - $top-menu-height;
}

.top-menu-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/logo/banner-background.png");
    opacity: 0.4;
    height: $top-menu-height;
}

.top-menu-wrap {
    background-color: mat-color($theme, 700);
    height: $top-menu-height;
    border: 1px solid mat-color($theme-accent, 100);
    border-width: 0 0 2px 0;
}

.top-menu-item {
    color: mat-contrast($theme, 700);
}

.create-button {
    background-color: $create-button-color;
    border-radius: 6px;
    padding: 0 0.6rem 0 0.6rem;
}



.logo-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
}


.side-menu-wrap {
    background: url("../../assets/logo/banner-background.png"), mat-color($theme-accent, 50);
    width: $side-menu-width;
    min-width: 12%;
    height: $side-menu-height;
    min-height: 45%;

    border: 1px solid mat-color($theme-accent, 100);
    border-width: 0 1px 1px 0;
    border-radius: 0 0 1rem 0;
}

.side-menu-static {
    position: absolute;
}

.side-menu-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}

.side-menu-spacer {
    margin-right: $side-menu-width;
}


// .side-menu-background {
//     position: fixed;
//     top: $top-menu-height;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-image: url("../../assets/logo/banner-background.png");
//     opacity: 0.8;
//     width: $side-menu-width;
//     z-index: 1;
//     height: $side-menu-height;
// }

.side-menu-button {
    border-radius: 2px 0 0 2px;
    z-index: 2;
}

.side-menu-item {
    z-index: 2;
}

.side-menu-button-active {
    background: linear-gradient(
            to right,
            mat-color($theme, 200) 0%,
            mat-color($theme, 100) 30%,
            mat-color($theme-accent, 50)
        )
        100%;
}

.side-menu-button-text-active {
    color: mat-color($theme, 700);
    font-weight: 600;
    font-size: 22px;
    z-index: 2;
}

.project-wrap {
    margin: $spacer-m $spacer-xs $spacer-m $spacer-xs;
}
.project-label {
    z-index: 2;
    font-size: 12px;
}

.project-name {
    font-size: 25px;
    font-weight: 500;
    z-index: 2;
}

.side-menu-divider {
    width: 85%;
    z-index: 2;
}

.content-wrap {
    width: 100%;
    margin: 2rem 3rem 0 4rem;
}
