<div class="top-menu-background">

</div>

<div class="top-menu-wrap">

  <div fxLayout="row" fxLayoutAlign="space-between" fxFill>

    <div class="top-menu-item" fxFlex="10%" fxLayoutAlign="start center">

      <div class="logo-wrap">
        <img src="assets/logo/issue-tracker-white.svg" class="logo-image">
      </div>

    </div>

    <div class="top-menu-item" fxFlex="40%" fxLayoutAlign="start center">
      <span class="title">Issue Tracker</span>
    </div>

    <div class="top-menu-item" fxFlex="25%">

      <div class="top-menu-controls-wrap" fxLayout="column" fxLayoutAlign="space-between" fxFill>

        <div fxFlex="50%">

        </div>

        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="space-between center">

          <button mat-button>
            <span class="mat-subheading-1">Projects</span>
          </button>

          <button mat-button>
            <span class="mat-subheading-1">Recent</span>
          </button>

          <button mat-button>
            <span class="mat-subheading-1">Create +</span>
          </button>
        </div>

      </div>

    </div>

    <div class="top-menu-item" fxFlex="25%" fxLayoutAlign="end center" fxFill>

      <span>pavel.vodicka</span>
        <button mat-icon-button aria-label="Example icon-button with login icon">
          <mat-icon>person</mat-icon>
        </button>


    </div>

  </div>

</div>


<div class="page-wrap" fxLayout="row" fxFill>

  <div class="side-menu-background">

  </div>

  <div class="side-menu-wrap">

    <div fxLayout="column" fxLayoutAlign="space-between center" fxFill>

      <div class="project-wrap" fxLayout="column">

        <div class="project-label">
          <span>Project:</span>
        </div>

        <div class="project-name">
          <span class="mat-subheading-2">{{project.name}}</span>
        </div>
      </div>

      <div *ngFor="let item of sideMenuItems; let i = index" class="side-menu-item" fxFlex="15%" fxFill>
        <button [routerLink]="item.route" mat-button fxFill fxLayoutAlign="start center" class="side-menu-button"
          routerLinkActive="side-menu-button-active">
          <span [ngClass]="{'side-menu-button-text-active': isRouteActive(item.route)}"
            class="mat-subheading-1">{{item.name}}</span>
        </button>


        <div *ngIf="i != sideMenuItems.length - 1" fxLayoutAlign="center">
          <mat-divider class="side-menu-divider"></mat-divider>
        </div>

      </div>

    </div>

  </div>


  <div class="content-wrap">

    <router-outlet></router-outlet>

  </div>




</div>