@import '~@angular/material/theming';

$theme: $mat-indigo;
// $theme: $mat-pink;
// $theme: $mat-brown;
// $theme: $mat-brown;
$theme-accent: $mat-blue-grey;

$theme-warn: $mat-deep-orange;

// spacers

$spacer-xl: 6rem;
$spacer-l: 4rem;
$spacer-m: 2rem;
$spacer-s: 1rem;
$spacer-xs: 0.5rem;

$top-menu-height: 9%;
$side-menu-width: 12%;
$side-menu-height: 50%;

$create-button-color: rgba(33, 204, 85, 0.88);

$dark-black-color: #172B4D;
$black-color: #42526E;


// task icon colors
$issue-type-epic-color: rgb(164, 33, 204);
$issue-type-task-color: #3f51b5;
$issue-type-bug-color: #dd2c00;

$issue-status-in-progress-color:  #3f51b5;
// $issue-status-open-color:  #3f51b5;
// $issue-status-needs-info-color: #e64a19;
// $issue-status-done-color: #0bad2a;
// $issue-status-canceled-color: #546e7a;
$issue-status-open-color:  #3f51b5;
$issue-status-needs-info-color: #3f51b5;
$issue-status-done-color: #3f51b5;
$issue-status-canceled-color: #3f51b5;

$issue-priority-very-high-color:#dd2c00;
$issue-priority-high-color:#ff6e40;
$issue-priority-medium-color: #3f51b5;
$issue-priority-low-color: #7986cb;
$issue-priority-very-low-color: #90a4ae;

$theme-success: (
    50 : #e4f9eb,
    100 : #bcf0cc,
    200 : #90e6aa,
    300 : #64db88,
    400 : #42d46f,
    500 : #21cc55,
    600 : #1dc74e,
    700 : #18c044,
    800 : #14b93b,
    900 : #0bad2a,
    A100 : #daffe0,
    A200 : #a7ffb5,
    A400 : #74ff89,
    A700 : #5bff74,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);







