@import "variables.scss";

.epic {
    color: $issue-type-epic-color;
}

.task {
    color: $issue-type-task-color;
}

.bug {
    color: $issue-type-bug-color;
}

.text {    
    margin-left: 0.2rem;
}
