@import "variables.scss";

.badge-wrap {
    width: fit-content;
    padding: 0 0.3rem 0 0.3rem;
}

.border {
    border: 1px solid;
    border-radius: 4px;
}

.icon-open {
    $color: $issue-status-open-color;
    color: $color;
    border-color: $color;
}

.icon-in-progress {
    $color: $issue-status-in-progress-color;
    color: $color;
    border-color: $color;
}

.icon-done {
    $color: $issue-status-done-color;
    color: $color;
    border-color: $color;
}

.icon-needs-info {
    $color: $issue-status-needs-info-color;
    color: $color;
    border-color: $color;
}

.icon-canceled {
    $color: $issue-status-canceled-color;
    color: $color;
    border-color: $color;
}


.text {
    margin-left: 0.2rem;
}