@import "variables.scss";

.wrap {
    // color: mat-color($theme-accent, 300);
    background-color: mat-color($theme-accent, 50);
    position:relative;    
}


.dropdown {
    cursor: pointer;
    justify-content: space-between;    
    width: 100%;    
    border-radius: 0.3rem;
    padding: 0 $spacer-xs 0 $spacer-xs;
}

.highlighted-row {
    color: white;
    background-color: mat-color($theme, 400);
}


.highlighted-type {
    font-weight: 600;
}

.colon {
    padding-right: $spacer-s;
}

.dropdown-icon {
    // color: mat-color($theme-accent, 500);
}

.disabled-row {
    filter: opacity(0.5);
}

.dropdown-content-wrap {
    position: absolute;
    top: $spacer-m;
    left: 0px;
    z-index: 400;

    min-width: 12rem;
    max-height: 180px;
    min-height: 50px;
    overflow-y: auto;

    border: 0.5px mat-color($theme-accent, 100) solid;
    border-radius: 0.2rem;
    background-color: $whitecolor;
}

.value-row-wrap{
    padding: $spacer-xs 0 $spacer-xs 0;
    // top: $spacer-m;
    // position:relative;
    
}

.value-row-wrap:hover{
    background-color: mat-color($theme-accent, 50);    
}

.checkbox {
    margin: 0 $spacer-s 0 $spacer-s;
}

.issue-type-badge {    
    padding-left: $spacer-s;
    padding-right: $spacer-xs;
}
