<div class="wrap" fxLayout="row" fxLayoutAlign="start stretch" (clickOutside)="closeDropdown($event)">

    <div fxLayout="row" class="dropdown" (click)="openDropdown()" [ngClass]="selectedVals().isHighlighted ? 'highlighted-row' : null">
        <mat-label [ngClass]="selectedVals().isHighlighted ? 'highlighted-type' : null">{{type}}</mat-label>
        <mat-label *ngIf="selectedVals().values.length > 0" class="colon">: </mat-label>
        <mat-label *ngIf="selectedVals().values.length == 1">{{getValueForType(selectedVals().values[0])}}</mat-label>
        <mat-label *ngIf="selectedVals().values.length > 1">{{getValueForType(selectedVals().values[0])}} and {{selectedVals().values.length - 1}} more..</mat-label>
        <mat-icon class="dropdown-icon" >arrow_drop_down</mat-icon>
    </div>

    <div *ngIf="isOpened"  class="dropdown-content-wrap"  >
        
        <div *ngFor="let val of allValues" class="value-row-wrap" fxLayout="row" fxLayoutAlign="start stretch" [ngClass]="isRowDisabled(val) ? 'disabled-row' : ''">
            <mat-checkbox color="primary" [(ngModel)]="val.checked" class="checkbox" (change)="updateVals()" [disabled]="isRowDisabled(val)"></mat-checkbox>
            <span *ngIf="type == FILTER_DROPDOWN_TYPES.PROJECT">{{getValueForType(val)}}</span>
            <app-user-handle *ngIf="type == FILTER_DROPDOWN_TYPES.ASSIGNEE" [user]="val" [hideUsername]="false" [hidePhoto]="true"></app-user-handle>
            <div *ngIf="type == FILTER_DROPDOWN_TYPES.TYPE" fxLayout="row">
                <app-issue-type-badge [type]="val.value" class="issue-type-badge" [hideTooltip]="true"></app-issue-type-badge>

            </div>
            <div *ngIf="type == FILTER_DROPDOWN_TYPES.STATUS" fxLayout="row">
                <app-issue-status-badge [status]="val.value" [hideBorder]="true"></app-issue-status-badge>

            </div>
            <div *ngIf="type == FILTER_DROPDOWN_TYPES.PRIORITY" fxLayout="row">
                <app-issue-priority-badge [priority]="val.value" [hideBorder]="true"></app-issue-priority-badge>

            </div>
        </div>
    </div>
    

</div>