@import "variables.scss";

.wrap {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.wrap:hover {
    .link {
        .issue-name {
            text-decoration: underline;
        }
    }
}

.issue-name {
    color: mat-color($theme, 500);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

.verbose-name {
    padding-left: $spacer-xs;
}

.type-badge {
    padding-right: 0.2rem;
    text-decoration: none;
}
