@import "variables.scss";

.wrap {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.wrap:hover {
    .link {
        .username {
            text-decoration: underline;
        }
    }
}

.username {
    color: mat-color($theme, 500);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

.grey {
    color: mat-color($theme-accent, 500);
}

.photo-icon {
    color: mat-color($theme, 500);
    padding-right: $spacer-xs;
}
