<div [ngSwitch]="filterType" class="wrap" fxLayout="row" >

    
    <span class="filter-label">Filters: </span>

    <div *ngSwitchCase="FILTER_PAGE_TYPES.BOARD" class="filters-wrap" fxLayout="row">
        <app-filter-dropdown [type]="FILTER_DROPDOWN_TYPES.ASSIGNEE" class="dropdown-wrap" (changed)="changed.emit()"></app-filter-dropdown>
        <app-filter-dropdown [type]="FILTER_DROPDOWN_TYPES.TYPE" class="dropdown-wrap" (changed)="changed.emit()"></app-filter-dropdown>
        <app-filter-dropdown [type]="FILTER_DROPDOWN_TYPES.PRIORITY" class="dropdown-wrap" (changed)="changed.emit()"></app-filter-dropdown>        

    </div>
    
    <div *ngSwitchCase="FILTER_PAGE_TYPES.ISSUE" class="filters-wrap" fxLayout="row">
        <app-filter-dropdown [type]="FILTER_DROPDOWN_TYPES.PROJECT" class="dropdown-wrap" (changed)="changed.emit()"></app-filter-dropdown>
        <app-filter-dropdown [type]="FILTER_DROPDOWN_TYPES.ASSIGNEE" class="dropdown-wrap" (changed)="changed.emit()"></app-filter-dropdown>
        <app-filter-dropdown [type]="FILTER_DROPDOWN_TYPES.TYPE" class="dropdown-wrap" (changed)="changed.emit()"></app-filter-dropdown>
        <app-filter-dropdown [type]="FILTER_DROPDOWN_TYPES.STATUS" class="dropdown-wrap" (changed)="changed.emit()"></app-filter-dropdown>        

    </div>
        
    <div *ngSwitchCase="FILTER_PAGE_TYPES.PERSON" class="filters-wrap" fxLayout="row">

    </div>

    <!-- <div class="clear-icon-wrap" fxLayout="row" (click)="ngOnInit()">
        <mat-icon  class="clear-icon">clear</mat-icon>
        <span>Clear all</span>
    </div> -->
</div>
